.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  max-width: 500px;

  @media screen and (max-width: 375px) {
    & {
      gap: 0;
    }
  }


  &__top,
  &__bottom{
    display: flex;
    gap: 30px;
    width: 100%;
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;
    color: var(--black-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
  }

  &__error {
    line-height: 1.2;
    color: #FF0000;
    transition: 0.3s all;
  }

  @media screen and (max-width: 375px) {
    &__title {
      font-size: 2.5rem;
    }
  }
}