.create-user {

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
  }

  &__role-select {
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 5px;

    &:hover {
      background: rgba(236, 234, 234, 0.46);
    }
  }

  &__error {
    line-height: 1.2;
    color: #FF0000;
    transition: 0.3s all;
  }

  &__modal-title {
    font-size: 2rem;
    margin-top: 20px;
  }
}