@import './normalize.scss';
@import './reset.scss';

:root {
  --primary-color: #BCFE30;
  --black-color: #000;
  --gray-color: #F1F1F1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  appearance: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.site-container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 32px;
}
